body{
    background: #00acf0;
    background-image: linear-gradient( 109.6deg,  rgba(34,211,238,1) 11.2%, rgba(79,57,246,1) 100.2% );;
    font-family: Arial;
    font-size:medium;
    text-align: center;
    padding: 10px;
    height: 10px;
    right: 10px;
}

h1,h2,p{
    text-align: center;
    color: white;
}

img{
    right: 500px;
    height: 300px;
    border:solid 10px white;
    border-radius: 30px;
}

article{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

nav{
    color: white;
}

footer{
    background-color: rgb(174, 0, 255);
    border-radius: 10px;
}