body{
    font-family: Arial;
    background: linear-gradient(109.6deg, rgba(34,211,238,1) 11.2%, rgba(79,57,246,1) 100.2%);
    color: white;
    padding: 10px;
}

nav ul{
    justify-content: center;
    list-style: none;
    display: flex;
    gap: 20px;
    background-color: blueviolet;
    border-radius: 20px;
    height: 30px;
    line-height: 2.0;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}


h1, h2 {
    text-align: left;
}

footer{
    text-align: center;
    background-color: rgb(174, 0, 255);
    border-radius: 20px;
    height: 30px;
    line-height: 2.0;
}

section{
    margin: 50px;

}
